<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=devic  e-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>One Memory - Journal App</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/styles.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  </head>

  <body>

    <div class="myNav">
      <h2>One Memory</h2>
    </div>


    <div class="container infoBox">
      <h3>"Be A Little Bit Better Than Yesterday"</h3>
      <br/><hr style="border-color: white;">
      <h4>Welcome to One Memory!<br/></h4>
      <p>One memory is a journaling app that helps you focus on progressing slowly but surely by only showing you your entry from the day before. This allows you to not dwell too much on the past, but rather keep moving forward!</p>
    </div>

    <div class="container entryCard">
      <form action="/info" method="post">
        <h2>Have an account?<br/><br/></h2>
        Username: <input type="text" name="usr"><br/><br/>
        <button type="submit" class="btn btn-large btn-success">Log In</button>
        <br/><br/>
      </form>
    </div>

    <div class="container entryCard">
      <form action="/create" method="post">
        <h2>New Here?<br/><br/></h2>
        Username: <input type="text" name="usr"><br/><br/>
        First Name: <input type="text" name="firstn"><br/><br/>
        Last Name: <input type="text" name="lastn"><br/><br/>
        <button type="submit" class="btn btn-large btn-success">Create Account</button>
        <br/><br/>
      </form>
    </div>

    <!-- jQuery library script below -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

    <!-- personal JS file below -->
    <script src="prove05.js"></script>
  </body>
</html>
