<!DOCTYPE html>
<html>
  <head>
    <title>DB Test</title>
  </head>

  <body style="background-color: #262626; color: white;">
    <h1>DB Test Page</h1>
    <br/><p>Your Username: <%= usrname %></p>
  </body>
</html>
