<!DOCTYPE html>
<html>
  <head>
    <title>Brian's Website</title>
  </head>

  <body style="background-color: #262626; color: white;">
    <h1>Hello there!</h1>
    <form action="/result" method="post">
      Param 1: <input type="number" id="param1" name="param1"><br/>
      Param 2: <input type="text" id="param2" name="param2"><br/>
      <br/><br/>
      <button type="submit">Submit</button><br/>
    </form>
  </body>
</html>
