<!DOCTYPE html>
<html>
  <head>
    <title>Your Info</title>
  </head>

  <body style="background-color: #262626; color: white;">
    <h1>Your info: <br/></h1>
    <ul>
      <li>Username: <%= usrname %></li>
      <li>First Name: <%= firstn %></li>
      <li>Last Name: <%= lastn %></li>
    </ul>
  </body>
</html>
