<!DOCTYPE html>
<html>
  <head>
    <title>Results Page</title>
  </head>

  <body style="background-color: #262626; color: white;">
    <h1>Weight: <%= param1 %> <br/> Type:<%= param2 %> <br/> Price: <%= param3 %></h1>
    <br/>
    <a href="/"><button>Back</button></a>
  </body>
</html>
